# The top most ROS Catkin workspace to source. 
# Will be sourced by each service before running its command.
catkin_ws: /opt/ros/noetic/setup.bash

# Append the following to the Python Path
# Will be appended in each service before its command.
append_to_pythonpath: 

# Services
services: 

######################################
### ROS-Sensors Dependent Services ###
######################################
# Example
- name: ros-sensor-example
  description: Example Services
  parent_service: ros-sensors.service
  command: echo Started Example ROS-Sensors Dependent Service
  run_on_boot: True
  restart_on_failure: True
  restart_after_n_seconds: 5


####################################
### ROS-Robot Dependent Services ###
####################################
# Example 
- name: ros-robot-example
  description: Example Services
  parent_service: ros-robot.service
  command: echo Started Example ROS-Robot Dependent Service,
  run_on_boot: True
  restart_on_failure: True
  restart_after_n_seconds: 5


######################################
### ROS-Project Dependent Services ###
######################################
# Example
- name: ros-project-example
  description: Example Services
  parent_service: ros-project.service
  command: echo Started Example ROS-Project Dependent Service
  run_on_boot: True
  restart_on_failure: True
  restart_after_n_seconds: 5

